### This project is Consideration effect of 100 factors on S&P 500 index

In [2]:
import numpy as np, pandas as pd

In [4]:
df_index = pd.read_excel("D:Database/sp_index.xlsx", header=2).iloc[:,1:].sort_index(axis=0 , ascending=False).reset_index().iloc[:,1:]
df_index.head()

        Date   Value
0 2020-05-31  0.0453
1 2020-06-30  0.0184
2 2020-07-31  0.0551
3 2020-08-31  0.0701
4 2020-09-30 -0.0392

In [5]:
df_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    50 non-null     datetime64[ns]
 1   Value   50 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 932.0 bytes

In [6]:
# Check

df_index.loc[2,'Date']

Timestamp('2020-07-31 00:00:00')

In [8]:
df_factor = pd.read_csv("D:Database/usa.csv")
df_factor

,location,name,freq,weighting,direction,n_stocks,n_stocks_min,date,ret
0,usa,age,monthly,ew,-1,502,8,1926-03-31,-0.066167
1,usa,age,monthly,ew,-1,505,12,1926-04-30,0.010546
2,usa,age,monthly,ew,-1,510,17,1926-05-31,-0.020292
3,usa,age,monthly,ew,-1,512,21,1926-06-30,-0.008927
4,usa,age,monthly,ew,-1,503,23,1926-07-31,0.017724
...,...,...,...,...,...,...,...,...,...
142779,usa,zero_trades_252d,monthly,ew,1,3841,1554,2023-08-31,0.067512
142780,usa,zero_trades_252d,monthly,ew,1,3832,1548,2023-09-30,0.044560
142781,usa,zero_trades_252d,monthly,ew,1,3833,1547,2023-10-31,0.064437
142782,usa,zero_trades_252d,monthly,ew,1,3826,1575,2023-11-30,-0.037080
142783,usa,zero_trades_252d,monthly,ew,1,3807,1566,2023-12-31,-0.042181

In [9]:
df_factor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142784 entries, 0 to 142783
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   location      142784 non-null  object
 1   name          142784 non-null  object
 2   freq          142784 non-null  object
 3   weighting     142784 non-null  object
 4   direction     142784 non-null  int64
 5   n_stocks      142784 non-null  int64
 6   n_stocks_min  142784 non-null  int64
 7   date          142784 non-null  object
 8   ret           142784 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 9.8+ MB

In [10]:
df_factor1 = df_factor[['name', 'date' , 'ret']]
df_factor1.head()

  name        date       ret
0  age  1926-03-31 -0.066167
1  age  1926-04-30  0.010546
2  age  1926-05-31 -0.020292
3  age  1926-06-30 -0.008927
4  age  1926-07-31  0.017724

In [42]:
# Check

df_factor1.iloc[0,1]

'1926-03-31'

In [12]:
df_index.shape

(50, 2)

In [13]:
df_factor1['name'].value_counts()

name
market_equity      1176
prc                1176
rmax1_21d          1175
ret_1_0            1175
zero_trades_21d    1175
                   ...
ivol_hxz4_21d       667
eqnetis_at          626
eqnpo_me            626
eqpo_me             626
netis_at            626
Name: count, Length: 153, dtype: int64

In [17]:
list_factor = list(df_factor1['name'].value_counts().index[:50])
print(list_factor)

['market_equity', 'prc', 'rmax1_21d', 'ret_1_0', 'zero_trades_21d', 'iskew_capm_21d', 'ivol_capm_21d', 'rvol_21d', 'rskew_21d', 'bidaskhl_21d', 'rmax5_21d', 'beta_dimson_21d', 'coskew_21d', 'age', 'ret_3_1', 'turnover_126d', 'turnover_var_126d', 'zero_trades_126d', 'ami_126d', 'dolvol_var_126d', 'dolvol_126d', 'rmax5_rvol_21d', 'prc_highprc_252d', 'ivol_capm_252d', 'zero_trades_252d', 'betadown_252d', 'ret_6_1', 'ret_9_1', 'div12m_me', 'mispricing_perf', 'ret_12_7', 'ret_12_1', 'seas_1_1an', 'eqnpo_12m', 'seas_1_1na', 'chcsho_12m', 'qmj_safety', 'betabab_1260d', 'corr_1260d', 'beta_60m', 'seas_2_5an', 'ret_60_12', 'seas_2_5na', 'seas_6_10na', 'seas_6_10an', 'seas_11_15an', 'seas_11_15na', 'seas_16_20na', 'seas_16_20an', 'bev_mev']

In [19]:
df_factor1['name'].isin(list_factor).sum()

56943

In [20]:
df_factor2 = df_factor1[df_factor1['name'].isin(list_factor)]
df_factor2.head()

  name        date       ret
0  age  1926-03-31 -0.066167
1  age  1926-04-30  0.010546
2  age  1926-05-31 -0.020292
3  age  1926-06-30 -0.008927
4  age  1926-07-31  0.017724

In [24]:
df_factor1['name'].apply(lambda x : x in list_factor).sum()

56943

In [25]:
df_factor2.shape

(56943, 3)

In [27]:
list_year = df_index['Date'].apply(lambda x : x.year)
list_year.head()

0    2020
1    2020
2    2020
3    2020
4    2020
Name: Date, dtype: int64

In [28]:
df_factor2['date'].apply(lambda x : x[:4])

0         1926
1         1926
2         1926
3         1926
4         1926
          ...
142779    2023
142780    2023
142781    2023
142782    2023
142783    2023
Name: date, Length: 56943, dtype: object

In [29]:
df_factor2['date'].str[:4]

0         1926
1         1926
2         1926
3         1926
4         1926
          ...
142779    2023
142780    2023
142781    2023
142782    2023
142783    2023
Name: date, Length: 56943, dtype: object

In [33]:
df_factor2['date'].apply(lambda x : int(x[:4]))

0         1926
1         1926
2         1926
3         1926
4         1926
          ...
142779    2023
142780    2023
142781    2023
142782    2023
142783    2023
Name: date, Length: 56943, dtype: int64

In [34]:
a = df_factor2['date'].apply(lambda x : int(x[:4])).isin(list_year)
df_factor3 = df_factor2[a]
df_factor3.head()

     name        date       ret
1126  age  2020-01-31  0.041996
1127  age  2020-02-29  0.037509
1128  age  2020-03-31 -0.019392
1129  age  2020-04-30  0.059922
1130  age  2020-05-31  0.079325

In [35]:
df_factor3['date'].str[:7]

1126      2020-01
1127      2020-02
1128      2020-03
1129      2020-04
1130      2020-05
           ...
142779    2023-08
142780    2023-09
142781    2023-10
142782    2023-11
142783    2023-12
Name: date, Length: 2400, dtype: object

In [37]:
# Check

df_factor3['date'].str[:7][1130]

'2020-05'

In [39]:
df_factor3['new_date'] = df_factor3['date'].apply(lambda x: str(x).replace('-','/')[:7])
df_factor3.head()

C:\Users\Yasin\AppData\Local\Temp\ipykernel_22272\2625087782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_factor3['new_date'] = df_factor3['date'].apply(lambda x: str(x).replace('-','/')[:7])

     name        date       ret new_date
1126  age  2020-01-31  0.041996  2020/01
1127  age  2020-02-29  0.037509  2020/02
1128  age  2020-03-31 -0.019392  2020/03
1129  age  2020-04-30  0.059922  2020/04
1130  age  2020-05-31  0.079325  2020/05

In [41]:
# Check

df_factor3.iloc[0,3]

'2020/01'

In [43]:
df_index.head()

        Date   Value
0 2020-05-31  0.0453
1 2020-06-30  0.0184
2 2020-07-31  0.0551
3 2020-08-31  0.0701
4 2020-09-30 -0.0392

In [44]:
b = df_index['Date'].apply(lambda x: str(x).replace('-','/')[:7])
df_index['value_date'] = b

df_index.head()

        Date   Value value_date
0 2020-05-31  0.0453    2020/05
1 2020-06-30  0.0184    2020/06
2 2020-07-31  0.0551    2020/07
3 2020-08-31  0.0701    2020/08
4 2020-09-30 -0.0392    2020/09

In [46]:
# Check

df_index.iloc[0,2]

'2020/05'

In [48]:
print(list_factor)

['market_equity', 'prc', 'rmax1_21d', 'ret_1_0', 'zero_trades_21d', 'iskew_capm_21d', 'ivol_capm_21d', 'rvol_21d', 'rskew_21d', 'bidaskhl_21d', 'rmax5_21d', 'beta_dimson_21d', 'coskew_21d', 'age', 'ret_3_1', 'turnover_126d', 'turnover_var_126d', 'zero_trades_126d', 'ami_126d', 'dolvol_var_126d', 'dolvol_126d', 'rmax5_rvol_21d', 'prc_highprc_252d', 'ivol_capm_252d', 'zero_trades_252d', 'betadown_252d', 'ret_6_1', 'ret_9_1', 'div12m_me', 'mispricing_perf', 'ret_12_7', 'ret_12_1', 'seas_1_1an', 'eqnpo_12m', 'seas_1_1na', 'chcsho_12m', 'qmj_safety', 'betabab_1260d', 'corr_1260d', 'beta_60m', 'seas_2_5an', 'ret_60_12', 'seas_2_5na', 'seas_6_10na', 'seas_6_10an', 'seas_11_15an', 'seas_11_15na', 'seas_16_20na', 'seas_16_20an', 'bev_mev']

In [49]:
n = 0
list_factor[n]

'market_equity'

In [50]:
df_factor4 = df_factor3[df_factor3['name']==list_factor[n]]
df_factor4.head()

                name        date       ret new_date
63091  market_equity  2020-01-31 -0.002362  2020/01
63092  market_equity  2020-02-29  0.013139  2020/02
63093  market_equity  2020-03-31 -0.056472  2020/03
63094  market_equity  2020-04-30  0.066234  2020/04
63095  market_equity  2020-05-31  0.005801  2020/05

In [51]:
data_merge = pd.merge(df_index,df_factor4,left_on='value_date',right_on='new_date',how='inner')
data_merge.head()

        Date   Value value_date           name        date       ret new_date
0 2020-05-31  0.0453    2020/05  market_equity  2020-05-31  0.005801  2020/05
1 2020-06-30  0.0184    2020/06  market_equity  2020-06-30  0.079716  2020/06
2 2020-07-31  0.0551    2020/07  market_equity  2020-07-31 -0.020536  2020/07
3 2020-08-31  0.0701    2020/08  market_equity  2020-08-31 -0.003762  2020/08
4 2020-09-30 -0.0392    2020/09  market_equity  2020-09-30 -0.010444  2020/09

In [52]:
data_merge2 = data_merge.rename(columns={'Value':'index_return','ret':'factor_return','new_date':'year-month','name':'factor_name'})
df_factor5 = data_merge2[['factor_name','year-month','index_return','factor_return']]
df_factor5.head()

     factor_name year-month  index_return  factor_return
0  market_equity    2020/05        0.0453       0.005801
1  market_equity    2020/06        0.0184       0.079716
2  market_equity    2020/07        0.0551      -0.020536
3  market_equity    2020/08        0.0701      -0.003762
4  market_equity    2020/09       -0.0392      -0.010444

In [53]:
final1 = df_factor5

In [55]:
np.corrcoef(final1['index_return'] , final1['factor_return'])[0,1]

-0.0445863104018219

In [56]:
import statsmodels.api as sm

In [57]:
final1['intercept'] = 1
final1.head()

C:\Users\Yasin\AppData\Local\Temp\ipykernel_22272\2637878363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final1['intercept'] = 1

     factor_name year-month  index_return  factor_return  intercept
0  market_equity    2020/05        0.0453       0.005801          1
1  market_equity    2020/06        0.0184       0.079716          1
2  market_equity    2020/07        0.0551      -0.020536          1
3  market_equity    2020/08        0.0701      -0.003762          1
4  market_equity    2020/09       -0.0392      -0.010444          1

In [58]:
lm = sm.OLS(final1['index_return'] , final1[['factor_return','intercept']])
lm.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           index_return   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.022
Method:                 Least Squares   F-statistic:                   0.08366
Date:                Thu, 08 Aug 2024   Prob (F-statistic):              0.774
Time:                        21:47:50   Log-Likelihood:                 69.325
No. Observations:                  44   AIC:                            -134.6
Df Residuals:                      42   BIC:                            -131.1
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
factor_return    -0.0468      0.162     -0.289      0.774      -0.373       0.280
intercept         0.0124      0.008      1.604      0.116      -0.003       0.028
==============================================================================
Omnibus:                        1.743   Durbin-Watson:                   2.333
Prob(Omnibus):                  0.418   Jarque-Bera (JB):                1.498
Skew:                          -0.304   Prob(JB):                        0.473
Kurtosis:                       2.331   Cond. No.                         20.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [59]:
df_factor3.head()

     name        date       ret new_date
1126  age  2020-01-31  0.041996  2020/01
1127  age  2020-02-29  0.037509  2020/02
1128  age  2020-03-31 -0.019392  2020/03
1129  age  2020-04-30  0.059922  2020/04
1130  age  2020-05-31  0.079325  2020/05

In [60]:
print(list_factor)

['market_equity', 'prc', 'rmax1_21d', 'ret_1_0', 'zero_trades_21d', 'iskew_capm_21d', 'ivol_capm_21d', 'rvol_21d', 'rskew_21d', 'bidaskhl_21d', 'rmax5_21d', 'beta_dimson_21d', 'coskew_21d', 'age', 'ret_3_1', 'turnover_126d', 'turnover_var_126d', 'zero_trades_126d', 'ami_126d', 'dolvol_var_126d', 'dolvol_126d', 'rmax5_rvol_21d', 'prc_highprc_252d', 'ivol_capm_252d', 'zero_trades_252d', 'betadown_252d', 'ret_6_1', 'ret_9_1', 'div12m_me', 'mispricing_perf', 'ret_12_7', 'ret_12_1', 'seas_1_1an', 'eqnpo_12m', 'seas_1_1na', 'chcsho_12m', 'qmj_safety', 'betabab_1260d', 'corr_1260d', 'beta_60m', 'seas_2_5an', 'ret_60_12', 'seas_2_5na', 'seas_6_10na', 'seas_6_10an', 'seas_11_15an', 'seas_11_15na', 'seas_16_20na', 'seas_16_20an', 'bev_mev']

In [61]:
total_return = {}

for i in list_factor:
    df1 = df_factor3[df_factor3['name']==i]
    df2 = pd.merge(df_index,df1,left_on='value_date',right_on='new_date',how='inner')
    total_return[i] = np.corrcoef(df2['ret'] ,df2['Value'])[0,1]
    
total_return

{'market_equity': -0.0445863104018219,
 'prc': 0.036929223344540144,
 'rmax1_21d': -0.4510237529170159,
 'ret_1_0': 0.29912855500623453,
 'zero_trades_21d': -0.4562461202859602,
 'iskew_capm_21d': -0.07383996864137232,
 'ivol_capm_21d': -0.4305939609481768,
 'rvol_21d': -0.4693619909073012,
 'rskew_21d': -0.11141947292819648,
 'bidaskhl_21d': 0.4273098876842884,
 'rmax5_21d': -0.4686749357132884,
 'beta_dimson_21d': -0.6779091920990397,
 'coskew_21d': -0.114220875157142,
 'age': 0.08711773821354704,
 'ret_3_1': -0.3738127667454775,
 'turnover_126d': -0.45099821538816987,
 'turnover_var_126d': 0.11914520464530914,
 'zero_trades_126d': -0.45477799294705396,
 'ami_126d': -0.08784821185553424,
 'dolvol_var_126d': 0.06907865479735208,
 'dolvol_126d': -0.23204242197173672,
 'rmax5_rvol_21d': -0.10431723956258464,
 'prc_highprc_252d': -0.4603116837909169,
 'ivol_capm_252d': -0.39639228411749344,
 'zero_trades_252d': -0.4586325039539858,
 'betadown_252d': -0.673699177953205,
 'ret_6_1': -0.3965939167802428,
 'ret_9_1': -0.3969302592552018,
 'div12m_me': -0.18162004313633107,
 'mispricing_perf': -0.2555298845101322,
 'ret_12_7': -0.2916866233135192,
 'ret_12_1': -0.41826062667307545,
 'seas_1_1an': -0.23395612685503764,
 'eqnpo_12m': -0.2431096109550296,
 'seas_1_1na': -0.34420154366206807,
 'chcsho_12m': -0.21919564437003372,
 'qmj_safety': -0.429022668136023,
 'betabab_1260d': -0.6148244579040095,
 'corr_1260d': -0.15078528563089202,
 'beta_60m': -0.5459309928851859,
 'seas_2_5an': 0.3428907296184522,
 'ret_60_12': -0.08625342445135563,
 'seas_2_5na': -0.30182222529353403,
 'seas_6_10na': -0.018485474226779,
 'seas_6_10an': -0.14633530972481257,
 'seas_11_15an': -0.05335296758648497,
 'seas_11_15na': -0.5235507480785415,
 'seas_16_20na': -0.1478657845817354,
 'seas_16_20an': -0.1496998070405394,
 'bev_mev': 0.01761035713445394}

In [62]:
max(total_return.values())

0.4273098876842884

In [63]:
max_value = max([abs(i) for i in total_return.values()])
max_value

0.6779091920990397

In [65]:
[(i,j) for (i,j) in total_return.items() if j==max_value or j==max_value*-1]

[('beta_dimson_21d', -0.6779091920990397)]

In [66]:
sorted_data = {i:j for i,j in sorted(total_return.items(), key=lambda x: abs(x[1]), reverse=True)}
sorted_data

{'beta_dimson_21d': -0.6779091920990397,
 'betadown_252d': -0.673699177953205,
 'betabab_1260d': -0.6148244579040095,
 'beta_60m': -0.5459309928851859,
 'seas_11_15na': -0.5235507480785415,
 'rvol_21d': -0.4693619909073012,
 'rmax5_21d': -0.4686749357132884,
 'prc_highprc_252d': -0.4603116837909169,
 'zero_trades_252d': -0.4586325039539858,
 'zero_trades_21d': -0.4562461202859602,
 'zero_trades_126d': -0.45477799294705396,
 'rmax1_21d': -0.4510237529170159,
 'turnover_126d': -0.45099821538816987,
 'ivol_capm_21d': -0.4305939609481768,
 'qmj_safety': -0.429022668136023,
 'bidaskhl_21d': 0.4273098876842884,
 'ret_12_1': -0.41826062667307545,
 'ret_9_1': -0.3969302592552018,
 'ret_6_1': -0.3965939167802428,
 'ivol_capm_252d': -0.39639228411749344,
 'ret_3_1': -0.3738127667454775,
 'seas_1_1na': -0.34420154366206807,
 'seas_2_5an': 0.3428907296184522,
 'seas_2_5na': -0.30182222529353403,
 'ret_1_0': 0.29912855500623453,
 'ret_12_7': -0.2916866233135192,
 'mispricing_perf': -0.2555298845101322,
 'eqnpo_12m': -0.2431096109550296,
 'seas_1_1an': -0.23395612685503764,
 'dolvol_126d': -0.23204242197173672,
 'chcsho_12m': -0.21919564437003372,
 'div12m_me': -0.18162004313633107,
 'corr_1260d': -0.15078528563089202,
 'seas_16_20an': -0.1496998070405394,
 'seas_16_20na': -0.1478657845817354,
 'seas_6_10an': -0.14633530972481257,
 'turnover_var_126d': 0.11914520464530914,
 'coskew_21d': -0.114220875157142,
 'rskew_21d': -0.11141947292819648,
 'rmax5_rvol_21d': -0.10431723956258464,
 'ami_126d': -0.08784821185553424,
 'age': 0.08711773821354704,
 'ret_60_12': -0.08625342445135563,
 'iskew_capm_21d': -0.07383996864137232,
 'dolvol_var_126d': 0.06907865479735208,
 'seas_11_15an': -0.05335296758648497,
 'market_equity': -0.0445863104018219,
 'prc': 0.036929223344540144,
 'seas_6_10na': -0.018485474226779,
 'bev_mev': 0.01761035713445394}